{% extends 'base_layout.html' %}

{% load static %}

{% block title %} About {% endblock %}

<!-- Page Header-->

{% block header %}

    <header class="masthead about-header">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>About us</h1>
                        <!-- Divider-->
                        <hr class="my-4"/>
                        <div style="height: 10px;"></div>
                        <span class="subheading">A little about our history</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

<!-- Main Content-->

{% block content %}

    <!-- Divider-->
    <hr class="my-4"/>

    <div class="post-preview">
        <h4>Lorem ipsum dolor sit amet.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at orci magna. Duis feugiat varius odio at dapibus. Phasellus vitae sollicitudin leo, convallis tincidunt velit. Nullam dui nibh, molestie et ornare et, pretium at quam. Suspendisse sed lectus in metus interdum accumsan. Sed ullamcorper dolor vel nunc sagittis hendrerit. Integer risus dui, aliquet eget sodales in, tristique sit amet elit. Suspendisse suscipit diam ac arcu condimentum interdum. Vivamus nec porta elit. Phasellus quam sapien, ultricies non tellus at, vulputate feugiat lacus. Duis iaculis aliquet aliquam. Praesent iaculis dictum eros, id pulvinar sem luctus venenatis. Nulla et velit mollis, egestas augue vel, dapibus quam. Donec pulvinar velit leo, ut tincidunt felis porttitor nec. Maecenas efficitur est ac eleifend auctor. Curabitur consequat tristique quam eget ultrices.</p>
    </div>

{% endblock %}

